*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family:var(--apex-light);
    
}
body{
    background: #00000057;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/* Fontes do Apex */
@font-face {
    font-family:apex-regular;
    src: url(../apex-fonts/Apex-Regular.ttf);
}
@font-face {
    font-family:apex-bold;
    src: url(../apex-fonts/Apex-Bold.ttf);
}
@font-face {
    font-family:apex-light;
    src: url(../apex-fonts/Apex-Light.ttf);
}
@font-face {
    font-family: apex-black;
    src: url(../apex-fonts/Apex-Black.ttf);
}
@font-face {
    font-family:apex-extrabold;
    src: url(../apex-fonts/Apex-ExtraBold.ttf);
}
:root{

/* Fontes */

--apex-light:Apex-Light;
--apex-regular:apex-regular;
--apex-bold:apex-bold;
--apex-extrabold:apex-extrabold;

/* Cores */
--branco-principal:#ffffff;
--preto-menu:#000000b3;
--preto-fundo:#000000;
--vermelho-assault:#f04735;
--amarelo-misher:#b59926;
--roxo-recon:#9e34eb;
--azul-support:#206fe3;
--verde-controller:#38bb21;

}




