
/* Header ------------------------- */

#header-container{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 60px;
    display: flex;
    background: linear-gradient(to bottom,var(--preto-menu),transparent);
    padding: 0px 3.5rem 0px 3.5rem;
}

/* Classes Container */
.classes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex: row nowrap;
    font-size: 12px;
}

/* Classes items */
.classe{
    opacity: .7;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    font: var(--apex-light);
    color: white;
    transition: all ease-in-out .2s;
    color: transparent;
}
.classe > img{
    width: 30px;
}
.selecionado{
    opacity: 1;
    background: linear-gradient(to bottom,#2b2b2b99,transparent);
    color: white;
}


/*Main -------------------------------------------------------- */
#main-container{
    position: relative;
    height: 100%;
}

#nome-personagem{
    position: absolute;
    display: flex;
    align-items: center;
    top:15%;
    left: 0;
    width: 100%;
    height: 200px;
}
#retangulo{
    display: flex;
    width:400px;
    height:100px;
    background:var(--preto-menu);
}
#simbolo{
    margin: auto;
}
.personagem{
    position: absolute;
    right: 10%;
    font-family: var(--apex-extrabold);
    font-size: 28px;
    color: var(--branco-principal);
    letter-spacing: 2px;
}